html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
background: rgb(251,251,251);
background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(240,255,255,1) 82%, rgba(185,255,255,1) 89%, rgba(64,185,183,1) 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: 'M PLUS 1p', sans-serif;
	  color: #333;
	  text-shadow:
		0 0 1px #aaa,
		0 0 2px #aaa,
		0 0 4px #aaa,
		0 0 8px #999
}

.homelink:hover{
	background-color:#aaa;
	cursor:pointer;
}

.loading{
	opacity:0.4;
}

.header{
	font-weight:bold;
	text-decoration:underline;
}

.topbar{
	background: rgb(251,251,251);
	background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(240,240,255,1) 100%);
}

.content{
	background:#f0f0ff;
}

.title{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 64px;
}

@keyframes fadein {
  0%   {opacity:0;}
  100%   {opacity:1;}
}
@keyframes slowblink {
  0%   {opacity:0;}
  50%   {opacity:1;}
  100%   {opacity:0;}
}

.stars {
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
