/*badge-primary {easy}
badge-info {normal}
badge-success {hard}
badge-warning {ex}
badge-danger {exex}*/

.centered{
}

.link{
	color:#66e;
}

.highest{
	position:relative;
	z-index:1000001;
	background: #eef;
}

.below{
	z-index:-1;
}

.display-tooltip{
	position:absolute;
	z-index:1000000;
	display:block;
	font-size:12px;
}

.moveDown{
	top:-16px;
}

.cursor:hover{
	cursor:pointer;
}

.fadein{
  animation-name: fadein;
  animation-duration: 1s;
}


.display-tooltipside{
	position:absolute;
	z-index:1000000;
	font-size:12px;
	top:-6px;
}
.easy-background{
	background-color:#d6f1ff;
}
.normal-background{
	background-color:#d9ffe2;
}
.hard-background{
	background-color:#fff6cc;
}
.ex-background{
	background-color:#fccfcf;
}
.exex-background{
	background-color:#ecd6ff;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
	background: rgb(251,251,251);
	background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(240,255,255,1) 82%, rgba(185,255,255,1) 89%, rgba(64,185,183,1) 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
    background-attachment: fixed;
	font-family: 'M PLUS 1p', sans-serif;
	  color: #333;
	  text-shadow:
		0 0 1px #aaa,
		0 0 2px #aaa,
		0 0 4px #aaa,
		0 0 8px #999
}

.nostyle{
	color: #333;
}
.nostyle:hover{
	color: #333;
	text-decoration:none;
	background: #eef;
}

.scrollingHeader{
    position: -webkit-sticky; /* this is for all Safari (Desktop & iOS), not for Chrome*/
    position: sticky;
    top: 0;
    background: #fff;
}
.scrollingFooter{
    position: -webkit-sticky; /* this is for all Safari (Desktop & iOS), not for Chrome*/
    position: sticky;
    bottom: 0;
}

.background-songs{
	background-color:#eef;
}

.background-list-1{
	background-color:#cee;
}
.background-list-1:hover{
	background-color:#bdd;
}
.background-list-2{
	background-color:#def;
}
.background-list-2:hover{
	background-color:#cde;
}

.lighthover:hover{
	background-color:rgba(160,160,255,0.5);
}

.fchighlight{
	background: rgb(238,238,255);
	background: linear-gradient(0deg, rgba(241,255,115,0) 0%, rgba(169,238,255,0.5) 25%, rgba(241,255,115,0) 100%);
}

.pfchighlight{
	background: linear-gradient(0deg, rgba(241,255,115,0) 0%, rgba(255,230,180,0.5) 25%, rgba(241,255,115,0) 100%);
}

.pfc{
	animation-name:colorchange;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-direction: alternate;
}

@keyframes colorchange {
  0%   {background: rgba(160,18,18,1);}
  100%   {background: rgba(250,100,100,1);}
}

.tinytext{
	font-size:10px;
	/*z-index:-10000;*/
	color:#666;
	font-style:italic;
	/*background-color:rgba(240,240,255,0.8);*/
}

.tinytime{
	font-size:10px;
	position:absolute;
	bottom:0px;
	right:7px;
	/*z-index:-10000;*/
	color:#666;
	font-style:italic;
	/*background-color:rgba(240,240,255,0.8);*/
}

.numbers{
	font-size:18px;
}

.scaled-text{
	font-size: 16px;
    font-size: 1vw;
}

.homelink:hover{
	background-color:#aaa;
	cursor:pointer;
}

.loading{
	opacity:0.4;
}

.header{
	font-weight:bold;
	text-decoration:underline;
}

.topbar{
	background: rgb(251,251,251);
	background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(240,240,255,1) 100%);
}

.content{
	/*background:#f0f0ff;*/
}

span.fc{
	border: 0px;
	background: #9cbf00;
}

span.pfc{
	border: 0px;
	color: #FFF;
	background: #bf3900;
}

.fc{
	/*border: 1px solid #0000ff;
	background: #defabb;*/
}

.title{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 64px;
}

.error{
	color:rgb(170,0,0);
}

.success{
	color:green;
}

@keyframes fadein {
  0%   {opacity:0;}
  100%   {opacity:1;}
}
@keyframes slowblink {
  0%   {opacity:0;}
  50%   {opacity:1;}
  100%   {opacity:0;}
}

.stars {
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.uploadicon {  pointer-events: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
	z-index:100;
}
.color input{ background-color:#f0f0ff;}
.dragText {
    position: absolute;
    top: 160px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 72px;
    content: " or drag it here. ";
    margin: 0 auto;
    color: #000000;
    text-transform: capitalize;
    text-align: center;
	z-index:100;
}